.login-admin-page {
    font-family: 'Arial', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header {
    background-color: white;
    padding: 10px;
    text-align: justify;
  }
  
  header img {
    max-height: 160px;
    margin-bottom: 0px;
  }
  
  nav {
    margin-top: 10px;
    justify-content: flex-start;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin-right: 15px;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Login Form Section */
  .login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    padding: 20px;
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-image img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    width: 50%;
    padding: 20px;
  }
  
  .login-form h1 {
    text-align: justify;
    font-size: 32px;
    margin-bottom: 20px;
    color: #2d3e50;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 18px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-actions .btn-login {
    padding: 10px 20px;
    background-color: #2d3e50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-actions a {
    color: #2d3e50;
    font-size: 14px;
  }
  
  /* Footer Styling */
  footer {
    background-color: #2d3e50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer .footer-content p {
    margin: 0;
    font-size: 16px;
  }
  
    